body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #314e52;
    color: #333;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(login.png);
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    align-items: end;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    color: #314e52;
    margin-top: 20px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.intro, .recipe {
    margin-bottom: 20px;
}

.intro p {
    line-height: 1.6;
}

.recipe ul, .recipe ol {
    margin-left: 20px;
    line-height: 1.6;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    border: 2px solid #314e52; /* Added border for style */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center; line-height: 50px;
    color: wheat;
    font-size: 22px;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(login.png);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px; /* Added margin for spacing */
}
